.category {
  cursor: pointer;
}

.category:hover {
  color: #1154b6;
}

.fixedImg {
  width: 90px !important;
  height: 90px !important;
  object-fit: cover;
}

.courseRow {
  align-items: center;
}

.imgCol,
.padding {
  cursor: pointer;
}

.imgCol {
  width: 90px !important;
  height: 90px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.padding {
  padding-left: 0.25rem;
}

.CourseFeatureCol {
  height: fit-content;
}

.Row {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-auto-flow: column;
  gap: 20px;
}

/* .margintop {
  margin-top: -18rem !important;
}

@media screen and (max-width: 1399.5px) {
  .margintop {
    margin-top: -16rem !important;
  }
}

@media screen and (max-width: 1199.5px) {
  .margintop {
    margin-top: -14rem !important;
  }
}

@media screen and (max-width: 991.5px) {
  .margintop {
    margin-top: 0 !important;
  }
} */
