* {
  box-sizing: border-box;
}

.aboutus-container {
  margin-top: 8rem;
}

.about-image {
  height: 100%;
}

img {
  height: 100%;
  width: 100%;
  max-width: none;
}

h6 {
  color: hwb(9 0% 0%) !important;
  padding-left: 10.5px;
  text-decoration: 1px dashed hwb(9 0% 0%) underline;
  text-underline-offset: 9px;
}
 

.info h1 {
  padding-left: 0.5rem;
}

.about-para {
  font-weight: lighter;
  font-size: medium;
  line-height: normal;
  padding: 10px;
}

.aboutus-section {
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .about-text {
    margin-top: 24px;
  }
}


