* {
  font-weight: bold;
}

.main-content {
  width: 100%;
  background: linear-gradient(rgba(40, 120, 235, 0.9), rgba(40, 120, 235, 0.9)),
    url(https://themewagon.github.io/Edukate/img/header.jpg),
    no-repeat center center;
  height: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10rem;
  position: relative;
  margin-bottom: 4rem;
  /* background-blend-mode: multiply; */
}

.main-content::after {
  content: "";
  background-image: url(https://themewagon.github.io/Edukate/img/overlay-bottom.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -0.6px;
  left: 0;
  right: 0;
  height: 100px;
}

.search-section {
  padding-bottom: 6rem !important;
}

Button {
  border-radius: 0px !important;
}

.input {
  border: 0px;
  border-radius: 0px !important;
}

.course-dropdown {
  border: none;
  padding: 14.6px;
  background-color: white;
}

@media only screen and (max-width: 767.98px) {
  input {
    width: 100%;
    box-sizing: border-box;
  }
  .course-dropdown {
    padding: 10px;
  }
  .course-menu {
    margin-left: -21px !important;

    margin-top: 20px !important;
  }
}

.course-menu {
  margin-left: -21px !important;
  border-radius: 0px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

input {
  flex-grow: 1;
}

.about-us {
  background-color: white;
  gap: 25px;
}

.about-text span {
  color: hwb(27 0% 0%);
  font-size: 14px;
}

.about-text {
  font-size: 20px;
  line-height: 1.8;
  color: gray;
}

@media screen and (max-width: 380px) {
  .main-content {
    padding: 2rem;
  }

  .search-section {
    padding-bottom: 12rem !important;
  }
}

@media screen and (max-width: 600px) and (min-width: 381px) {
  .main-content {
    padding: 2rem;
  }

  .course-dropdown a {
    font-size: medium;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }

  .search-section {
    padding-bottom: 12rem !important;
    padding-top: 20px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }
}
