span {
  font-size: 1.5rem;
  font-weight: lighter !important;
}

h6 {
  font-weight: lighter !important;
}

.count {
  font-size: 2.2rem !important;
}

.counter-box {
  text-align: center !important;
}

@media screen and (max-width: 552px) {
  .counter h5 {
    text-align: center !important;
  }
  .counter h5:last-child {
    font-size: 0.9rem !important;
  }

  .count {
    font-size: 1.4rem !important;
  }
}
