.GotoTop {
  width: 46px;
  height: 46px;
  z-index: 10;
  position: fixed;
  bottom: 10px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #2878eb;
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}
