.slide-bar {
  overflow-x: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0 !important;
  margin: 0 !important;
}

.slide-bar::-webkit-scrollbar {
  display: none;
}

.course-card {
  width: 100% !important;
  height: 450px !important;
  margin: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.course-info {
  margin-top: -30px;
  font-weight: lighter !important;
  margin-bottom: -10px;
}

.course-hr {
  border: 1px solid whitesmoke;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
}

.small {
  font-size: 14px !important;
  margin-top: 20px !important;
}

.slide-bar > .card-wrapper:first-child {
  margin-left: 0 !important;
}

.card-wrapper {
  display: flex;
  position: relative !important;
}

.card-container {
  transition: transform 0.6s ease-in-out;
  transform: translateY(65px);
}

.card-container:hover {
  transform: translateY(0);
}
