.slide-bar {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0 !important;
  margin: 0 !important;
}

.slide-bar::-webkit-scrollbar {
  display: none;
}

.course-card {
  width: 100% !important;
  max-height: 900px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.course-info {
  margin-top: -30px;
  font-weight: lighter !important;
  margin-bottom: -10px;
}

.small {
  font-size: 14px !important;
  margin-top: 20px !important;
}

.slide-bar > .card-wrapper:first-child {
  margin-left: 0 !important;
}

.card-wrapper {
  display: flex;
  position: relative !important;
}

.card-container {
  transition: transform 0.4s ease-in-out;
  transform: translateY(55px);
}

.card-container:hover {
  transform: translateY(0);
}

.course-text {
  position: absolute;
  background: linear-gradient(rgba(18, 15, 45, 0), rgb(18, 15, 45));
  width: 100%;
  height: calc(100% + 86px);
  top: -80px;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.course-img-container {
  position: relative;
  overflow: hidden;
}

.course-img img {
  transition: all 0.4s ease-in-out;
}

.card-container:hover .course-img img {
  transform: translateY(-20px);
}

.card-container:hover .course-text {
  transform: translateY(-60px);
}
